# CMake
#########################
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Debug
MinSizeRel
Release
RelWithDebInfo

# Eclipse
#########################
*.cproject
*.metadata
*.project
*.settings

# Make
#########################
Makefile

# Misc
#########################
*~

# Output
#########################
libsimplicity-physx.a

# PhysX Headers and Libs
#########################
simplicity-physx/dep/physx/include/*
!simplicity-physx/dep/physx/include/README
simplicity-physx/dep/physx/lib/*
!simplicity-physx/dep/physx/lib/README

# Visual Studio
#########################
*.filters
*.sln
*.user
*.vcxproj

