# CMake
#########################
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Debug
MinSizeRel
Release
RelWithDebInfo

# Eclipse
#########################
*.cproject
*.metadata
*.project
*.settings

# Visual Studio
#########################
*.filters
*.sln
*.user
*.vcxproj

# PhysX Headers and Libs
#########################
simplicity-physx/dep/physx/include/*
!simplicity-physx/dep/physx/include/README
simplicity-physx/dep/physx/lib/*
!simplicity-physx/dep/physx/lib/README

